:javascript
  setInterval(function() {
    window.location.reload();
  }, 1000);
%div{style:"width:20%"}
  %center
    %h1
      Score
%table{style:"width:20%"}
  %tr
    - @scores.each do |score|
      %th
        = "Team: #{score.team}"
  %tr
    - @scores.each do |score|
      %th
        %h1
          = score.points
